<ion-header>
  <ion-navbar color="primary">
    <ion-title>Routes</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <h2 class="title">Saved Routes</h2>
    <ion-card>
      <ion-card-content *ngIf="!localRoutesLoaded">
        <em class="center">Retrieving Local Routes from Database...</em>
        <ion-spinner></ion-spinner>
      </ion-card-content>
      <ion-card-content *ngIf="localRoutesList?.length < 1 && localRoutesLoaded  && !savingRoute">
        There don't seem to be any routes saved on this device.  To download one, slide one of the online listed below to the left and tap the buttons to view more information about them or download them.
      </ion-card-content>
    </ion-card>
    <ion-list no-padding *ngIf="localRoutesList?.length > 0">
      <ion-item-sliding #item *ngFor="let route of localRoutesList; let i = index;">
        <ion-item tappable no-padding (tap)="loadRoute(route._id)">
          <ion-thumbnail item-start no-padding>
            <img src="{{ route.image }}" *ngIf="route.image">
            <img src="assets/noImage.png" *ngIf="!route.image">
          </ion-thumbnail>
        <h2>{{ route.name }}</h2>
        <p> {{ route.route_location?.description }} </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button large color="primary" (click)="loadRoute(route._id)">
          <ion-icon name="open"></ion-icon>
        </button>
        <button ion-button large color="danger" (click)="removeRoute(i)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-card-content *ngIf="savingRoute">
    <ion-thumbnail item-start no-padding>
      <ion-spinner></ion-spinner>
    </ion-thumbnail>
    <em class="center">Retrieving Route from Remote Database...</em>
  </ion-card-content>
  <h2 class="title">Online Routes</h2>
  <ion-content *ngIf="remoteRoutes?.length < 1">
    <em class="center">Retrieving Routes from ScienceCache Server...</em>
    <ion-spinner></ion-spinner>
  </ion-content>
  <ion-list no-padding *ngIf="remoteRoutes?.length > 0">
    <ion-item-sliding #item *ngFor="let route of remoteRoutes; let i = index;">
        <ion-item no-padding>
          <ion-thumbnail item-start no-padding>
            <img src="{{ route.image }}" *ngIf="route.image">
            <img src="assets/noImage.png" *ngIf="!route.image">
          </ion-thumbnail>
        <h2>{{ route.name }}</h2>
        <p> {{ route.route_location?.description }} </p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button large color="primary" (click)="infoAlert(i)">
          <ion-icon name="information-circle"></ion-icon>
        </button>
        <button ion-button large color="secondary" (click)="downloadRoute(route.route)">
          <ion-icon name="cloud-download"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
