<!--
  Generated template for the WaypointPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="currentWaypoint != null">{{ currentWaypoint.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row >
      <ion-col col-12 no-padding>
        <ion-card *ngIf="currentWaypoint.image" no-padding>
          <img class="waypoint-image" src="{{ currentWaypoint.image }}" alt="{{ currentWaypoint.name }}" />
        </ion-card>
        <ion-card *ngIf="currentWaypoint.warning">
          <ion-card-header>
            <ion-icon name="warning" item-start> </ion-icon>
            Warning!
          </ion-card-header>
          <ion-card-content>
            {{ currentWaypoint.warning }}
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="currentWaypoint.description">
          <ion-card-header>
            <ion-icon name="search" item-start> </ion-icon>
            Clue
          </ion-card-header>
          <ion-card-content>
            {{ currentWaypoint.description }}
          </ion-card-content>
        </ion-card>
        <ion-card *ngIf="currentWaypoint.location_description && showHint">
          <ion-card-header>
            <ion-icon name="eye" item-start> </ion-icon>
            Hint
          </ion-card-header>
          <ion-card-content>
            {{ currentWaypoint.location_description }}
          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col col-12>
        <ion-segment [ngModel]="settings" padding>
          <ion-segment-button value='foundIt' (click)="setWaypointFound(currentWaypoint.waypoint_id)" disabled="{{!onVisit}} || {{ currentWaypoint.found }}">
              <ion-icon class="custom-icon" name="ios-checkmark-circle"></ion-icon>
              Found It
          </ion-segment-button>
          <ion-segment-button value='showHint' (click)="showHint = true" disabled="showHint">
              <ion-icon class="custom-icon" name="ios-help-circle"></ion-icon>
              Hint
          </ion-segment-button>
        </ion-segment>  
      </ion-col>      
    </ion-row>
    {{ waypointFound }}
    <ion-row *ngIf="waypointFound">
        <ion-card ng-if="currentWaypoint.image_request" class="card question-box">
         <ion-card-header>
            <ion-icon name="camera" item-start> </ion-icon>
            Photos Requested
          </ion-card-header>
          <ion-card-content ng-if="currentWaypoint.photo_instructions">
            <strong>Photo Instructions: </strong>{{ currentWaypoint.photo_instructions }}
          </ion-card-content>
          <ion-card-content>
            <button ion-button primary full padding class="button icon-left ion-camera" (click)="takePicture()">
              Take a Picture
            </button>
          </ion-card-content>
        </ion-card>
  
        <ion-grid *ngIf="waypointPhotos.length > 0">
          <ion-row>
            <ion-col col-4 *ngFor="let photo of waypointPhotos">
              <img class="waypoint_photo" src="{{photo.data}}"/>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-col col-12 *ngFor="let dataRequest of currentWaypoint.data_requests; let di = index">
          <ion-card>
            <ion-card-content *ngIf="dataRequest.image" no-padding>
              <img class="waypoint-image" src="{{ dataRequest.image }}" alt="{{ dataRequest.name }}" />
            </ion-card-content>
            <ion-card-header style="white-space: normal;" *ngIf="dataRequest.question">
              {{ dataRequest.question }} 
            </ion-card-header>
            <ion-card-content *ngIf="dataRequest.type == 'textarea'">
              <ion-textarea [(ngModel)]="dataRequest.data"></ion-textarea>
            </ion-card-content>
            <ion-card-content *ngIf="dataRequest.type == 'select'">
              <ion-label>Answer</ion-label>
              <ion-select [(ngModel)]="dataRequest.data">
                <ion-option *ngFor="let option of questionOptions(dataRequest.options)" value="{{ option }}">{{ option }}</ion-option>
              </ion-select>
            </ion-card-content>
            <ion-card-content *ngIf="dataRequest.type != 'textarea' && dataRequest.type != 'select'">
              <ion-input [(ngModel)]="dataRequest.data" placeholder="{{ dataRequest.placeholder }}" type="{{ dataRequest.type }}">
              </ion-input>
            </ion-card-content>
            <ion-card-content *ngIf="dataRequest.help && showHelp">
              {{ dataRequest.help }}
            </ion-card-content>
            <ion-card-content *ngIf="dataRequest.help">
              <button ion-button outline round small padding class="data-request-help" (tap)="showHelp = true">
                <ion-icon name="help-circle" item-end></ion-icon>&nbsp;&nbsp;Help With This Question
              </button>
            </ion-card-content>            
          </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>