
<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="currentWaypoint != null">{{ currentWaypoint.name }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
  <ion-grid no-padding>
    <ion-row >
      <ion-col col-12 no-padding>

        <h4 class="centerText">Observation Point</h4>

        <ion-card *ngIf="currentWaypoint.name">
          <ion-card-header>
            <ion-icon item-start> </ion-icon>
            Name
          </ion-card-header>
          <ion-card-content>
            {{ currentWaypoint.name }}
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="currentWaypoint.image" no-padding>
          <!--<img class="waypoint-image" src="{{ currentWaypoint.image }}" alt="{{ currentWaypoint.name }}" />-->
          <img src="assets/noImage.png">
        </ion-card>

        <ion-card *ngIf="currentWaypoint.description">
          <ion-card-header>
            <ion-icon name="search" item-start> </ion-icon>
            Description
          </ion-card-header>
          <ion-card-content>
            {{ currentWaypoint.description }}
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="currentWaypoint.warning">
          <ion-card-header>
            <ion-icon name="warning" item-start> </ion-icon>
            Warning!
          </ion-card-header>
          <ion-card-content>
            {{ currentWaypoint.warning }}
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="currentWaypoint.obspoint_geom.length > 0">
          <ion-card-header>
            <ion-icon name="locate" item-start> </ion-icon>
            Latitude
          </ion-card-header>
          <ion-card-content>
            {{ currentWaypoint.obspoint_geom[1] }}
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="currentWaypoint.obspoint_geom.length > 0">
          <ion-card-header>
            <ion-icon name="locate" item-start> </ion-icon>
            Longitude
          </ion-card-header>
          <ion-card-content>
            {{ currentWaypoint.obspoint_geom[0] }}
          </ion-card-content>
        </ion-card>

        <ion-card *ngIf="currentWaypoint.observation_point_type.description">
          <ion-card-header>
            Observation Point Type
          </ion-card-header>
          <ion-card-content>
            {{ currentWaypoint.observation_point_type.description }}
          </ion-card-content>
        </ion-card>

      </ion-col>

      <!--Maybe do something like this for visit forms -->
      <!--<ion-col col-12 no-padding >-->
        <!--<ion-card *ngIf="currentWaypoint.obspnt_form">-->
          <!--<ion-card-header>Observation Form Data Request</ion-card-header>-->
          <!--<ion-list inset>-->
            <!--<button ion-item (click)="obsSelected(currentWaypoint.id)">-->
              <!--{{ currentWaypoint.obspnt_form.name }}-->
            <!--</button>-->
          <!--</ion-list>-->
        <!--</ion-card>-->
      <!--</ion-col>-->

      <ion-col col-12 no-padding *ngIf="currentWaypoint.obspnt_form">
        <div text-center>
          <button ion-button large (click)="obsSelected(currentWaypoint.id)">Collect Data</button>
        </div>
      </ion-col>

      <ion-col col-12 no-padding *ngIf="!(currentWaypoint.obspnt_form)">
        <ion-card>
          <p class="centerText">No Observation Form exists to Collect Data</p>
        </ion-card>
      </ion-col>


      <ion-col col-12>
        <ion-segment [ngModel]="settings" padding>
          <ion-segment-button value='foundIt' (click)="setWaypointFound(currentWaypoint.id)" disabled="{{!onVisit && currentVisit?.waypoints[currentWaypoint.index].found }}">
              <ion-icon class="custom-icon" name="ios-checkmark-circle"></ion-icon>
              Found It
          </ion-segment-button>
          <!--<ion-segment-button value='showHint' (click)="showHint = true" disabled="showHint">-->
              <!--<ion-icon class="custom-icon" name="ios-help-circle"></ion-icon>-->
              <!--Hint-->
          <!--</ion-segment-button>-->
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="waypointFound">
        <ion-card ng-if="currentWaypoint.image_request" class="card question-box">
         <ion-card-header>
            <ion-icon name="camera" item-start> </ion-icon>
            Photos Requested
          </ion-card-header>
          <ion-card-content ng-if="currentWaypoint.photo_instructions">
            <strong>Photo Instructions: </strong>{{ currentWaypoint.photo_instructions }}
          </ion-card-content>
          <ion-card-content>
            <button ion-button primary full padding class="button icon-left ion-camera" (click)="takePicture(currentWaypoint.index)">
              Take a Picture
            </button>
          </ion-card-content>
        </ion-card>

        <ion-grid *ngIf="currentVisit?.waypoints[currentWaypoint.index].photos.length > 0">
          <ion-row>
            <ion-col col-4 *ngFor="let photo of currentVisit?.waypoints[currentWaypoint.index].photos">
              <img class="waypoint_photo" src="{{photo.data}}"/>
            </ion-col>
          </ion-row>
        </ion-grid>

    </ion-row>
  </ion-grid>
</ion-content>
