page-waypoint {
  ion-card-content.card-content {
  	margin-top: 0 !important;
  	padding-top: 0 !important;
  }

  .custom-icon {
    font-size: 1.1em !important;
  }

  .indent {
    margin-left: 2em;
  }

  .centerText {
    text-align: center;
  }

}
