page-waypoint {
  ion-card-content.card-content {
  	margin-top: 0 !important;
  	padding-top: 0 !important;
  }

  .custom-icon {
    font-size: 1.1em !important;
  }

  .data-request-help {
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
  }
}
