<!--
  Generated template for the RoutePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<ion-header>
  <ion-navbar color="primary">
    <ion-title *ngIf="currentRoute != null">{{ currentRoute.name }}</ion-title>
    <ion-buttons end>
      <button ion-button round (click)="removeRoute()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 no-padding>
        <div style="height: 300px" id="map" no-padding></div>
        <ion-segment [ngModel]="mapLayer" padding>
          <ion-segment-button value="sat" (click)="mapShowSat()" disabled="{{ !onStreet }}">
            Satellite View
          </ion-segment-button>
          <ion-segment-button value="street" (click)="mapShowStreet()" disabled="{{ onStreet }}">
            Street View
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col col-12 *ngIf="currentRoute.warning">
        <ion-card>
          <ion-list class="warning">
            <div padding>
              <ion-icon name="warning" item-left></ion-icon>
            {{ currentRoute.warning }}
            </div>
          </ion-list>
        </ion-card>
      </ion-col>
      <ion-col col-12>
        <ion-item>
          <ion-label> Site Information</ion-label>
          <ion-toggle checked="false" (click)="showInfo = !showInfo"></ion-toggle>
        </ion-item>
        <ion-card *ngIf="showInfo">
          <ion-list>
            <img src="{{ currentRoute.image }}" />
            {{ currentRoute.description }}
            <ion-label>Contact(s):</ion-label> {{ currentRoute.contact }}
            <ion-label>Location:</ion-label> {{ currentRoute.route_location.description }}
          </ion-list>
        </ion-card>
      </ion-col>
      <ion-col col-12 *ngIf="currentRoute.waypoints?.length > 0">
        <ion-item>
          <ion-label>Waypoint Finder</ion-label>
          <ion-toggle checked="false" (click)="showWaypointFinder = !showWaypointFinder"></ion-toggle>
        </ion-item>        
        <ion-item *ngIf="showWaypointFinder">
            <h3 class="df_title">Waypoint {{ compass_waypoint_number }}: {{ compass_waypoint_title }}</h3>
            <h3 class="df_distance">{{ compass_waypoint_distance }}</h3>
            <h3 class="df_bearing">{{ compass_waypoint_bearing }}</h3>
            <div class="waypoint_finder">
              <div rotate degrees="deg">
                <img class="direction_finder" src="assets/images/waypoint_finder.png">
              </div>
            </div>
            <h6 class="df_info">Heading:
              {{ compass_current_heading }}°&nbsp;&nbsp;Accuracy: +/-
              {{ compass_current_accuracy }}
              meters&nbsp;&nbsp;Speed:
              {{ compass_current_speed }}</h6>
              <ion-segment>
                <ion-segment-button value="sat" (click)="previousWaypoint()">
                  <ion-icon name="arrow-back"></ion-icon>
                   Prev. Waypoint
                </ion-segment-button>
                <ion-segment-button value="street" (click)="nextWaypoint()">
                  Next Waypoint 
                  <ion-icon name="arrow-forward"></ion-icon>
                </ion-segment-button>
              </ion-segment>
        </ion-item>
      </ion-col>
      <ion-col col-12 *ngIf="currentRoute.waypoints?.length > 0">
        <ion-item>
          <ion-label>Waypoints ({{ currentRoute.waypoint_count }})</ion-label>
          <ion-toggle checked="false" (click)="showWaypoints = !showWaypoints"></ion-toggle>
        </ion-item>
        <ion-list inset *ngIf="showWaypoints">
          <button ion-item *ngFor="let waypoint of currentRoute.waypoints" (click)="waypointSelected(waypoint.waypoint_id)">
            {{ waypoint.name }} - {{ waypoint.waypoint_id }}
          </button> 
        </ion-list>
      </ion-col>
      <ion-col col-12>
        <ion-segment>
          <ion-segment-button value="startVisit" (click)="startVisit()" disabled="{{onVisit}}">
            <ion-icon name="play"></ion-icon>
            Start Visit
          </ion-segment-button>
          <ion-segment-button value="stopVisit" (click)="stopVisit()" disabled="{{!onVisit}}">
            <ion-icon name="square"></ion-icon>
            Stop Visit
          </ion-segment-button>
        </ion-segment>
      </ion-col>      
    </ion-row>
  </ion-grid>
</ion-content>
