
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
<ion-header *ngIf="currentRoute != null">
  <ion-navbar color="primary">
    <ion-title *ngIf="currentRoute != null">{{ currentRoute.name }}</ion-title>
    <ion-buttons end>
      <button ion-button round (click)="removeRoute()">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="currentRoute == null">
    <ion-card>
      <ion-card-content>
        <em class="center">Loading Route ...</em>
        <ion-spinner></ion-spinner>
      </ion-card-content>
    </ion-card>
</ion-content>

<ion-content *ngIf="currentRoute != null">
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 no-padding>
        <div style="height: 300px" id="map" no-padding></div>
        <ion-segment [ngModel]="mapLayer" padding>
          <ion-segment-button value="sat" (click)="mapShowSat()" disabled="{{ !onStreet }}">
            Satellite View
          </ion-segment-button>
          <ion-segment-button value="street" (click)="mapShowStreet()" disabled="{{ onStreet }}">
            Street View
          </ion-segment-button>
        </ion-segment>
      </ion-col>

      <ion-item>
        <ion-label>Start Visit</ion-label>
        <ion-toggle [(ngModel)]="visitToggle" checked="false" (ngModelChange)="visitStatusChanged()"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label> Site Information</ion-label>
        <ion-toggle [(ngModel)]="siteInformationToggle" checked="false"></ion-toggle>
      </ion-item>
      <ion-card *ngIf="siteInformationToggle">
        <!--<img src="{{ currentRoute.image }}" />-->
        <img src="assets/noImage.png">
        <ion-item>
          <h2>Site Information</h2>
        </ion-item>
        <ion-card-content>
          <p>{{ currentRoute?.description }}</p>
        </ion-card-content>
        <ion-row>
          <ion-col>
            <ion-card-content small>
              <ion-label icon-left><ion-icon name="contacts"></ion-icon>Contact(s):</ion-label> {{ currentRoute.contact }}
            </ion-card-content>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-card-content small>
              <ion-label icon-left><ion-icon name="globe"></ion-icon>Location:</ion-label> {{ currentRoute.route_location?.description }}
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-card>

      <ion-item>
        <ion-label>Waypoint Finder</ion-label>
        <ion-toggle [(ngModel)]="waypointFinderToggle" checked="false"></ion-toggle>
      </ion-item>

      <ion-card *ngIf="waypointFinderToggle && !onVisit">
        <ion-card-content>
          Start a visit using the controls below to start using the waypoint finder to help you find Science Caches.
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="currentRoute.waypoints?.length > 0 && waypointFinderToggle && onVisit">
        <ion-card-content>
          <h3 class="df_title">Waypoint {{ compass.waypoint_number }}: {{ compass.waypoint_title }}</h3>
          <h3 class="df_distance">{{ compass.waypoint_distance }}</h3>
          <h3 class="df_bearing">{{ compass.waypoint_bearing }}</h3>
          <div class="waypoint_finder">
            <div [ngStyle]="{ '-webkit-transform' : rotate(compass.true_bearing), '-moz-transform' : rotate(compass.true_bearing), '-o-transform' : rotate(compass.true_bearing), '-ms-transform' : rotate(compass.true_bearing), 'transform' : rotate(compass.true_bearing)}">
              <img class="direction_finder" src="assets/images/waypoint_finder.png">
            </div>
          </div>
          <h6 class="df_info">
            Heading: {{ compass.current_heading }}°&nbsp;&nbsp;
            Accuracy: +/- {{ compass.current_accuracy }} meters&nbsp;&nbsp;
            Speed: {{ compass.current_speed }}
          </h6>
          <ion-segment>
            <ion-segment-button value="sat" (click)="previousWaypoint()">
              <ion-icon class="custom-icon" name="arrow-back"></ion-icon>
              Prev. Waypoint
            </ion-segment-button>
            <ion-segment-button value="street" (click)="nextWaypoint()">
              Next Waypoint
              <ion-icon class="custom-icon" name="arrow-forward"></ion-icon>
            </ion-segment-button>
          </ion-segment>
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-label>Waypoints ({{ currentRoute.waypoint_count }})</ion-label>
        <ion-toggle [(ngModel)]="waypointsToggle" checked="false"></ion-toggle>
      </ion-item>

      <ion-col col-12 *ngIf="waypointsToggle && currentRoute.waypoints?.length > 0">
        <ion-list inset>
          <button ion-item *ngFor="let waypoint of currentRoute.waypoints" (click)="waypointSelected(waypoint.id)">
            {{ waypoint.name }}
          </button>
        </ion-list>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
