
<ion-header>

  <ion-navbar>
    <ion-title>Form Questions</ion-title>


    <ion-buttons end>
      <button class="headerButton" ion-button (click)="backToRoute()">
        Back To Route
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>

<div *ngIf="currentObsPoint && currentRoute">

  <h4 class="centerText">{{currentObsPoint.obspnt_form.name}}</h4>

  <ion-col col-12 *ngFor="let obsFormDR of currentObsPoint.obs_form; let i = index">


    <ion-card>

      <ion-card-header style="white-space: normal;" *ngIf="obsFormDR.datarequest.question">
        {{ obsFormDR.datarequest.question }}
      </ion-card-header>

      <ion-card-content *ngIf="obsFormDR.datarequest.request_type === 'text' ">
        <ion-label>Answer:</ion-label>
        <ion-textarea [(ngModel)]="obsFormDR.datarequest.value" placeholder={{obsFormDR.datarequest.placeholder}}></ion-textarea>
      </ion-card-content>

      <ion-card-content *ngIf="obsFormDR.datarequest.request_type === 'select' && obsFormDR.datarequest.options.length > 0">
        <ion-label>Answer:</ion-label>
        <ion-select [(ngModel)]="obsFormDR.datarequest.value" >
          <ion-option *ngFor="let option of obsFormDR.datarequest.options" value="{{ option }}">{{ option }}</ion-option>
        </ion-select>
      </ion-card-content>
      <ion-card-content *ngIf="obsFormDR.datarequest.request_type === 'select' && !(obsFormDR.datarequest.options.length > 0)">
        <div class="red">Error: No options created to select from</div>
      </ion-card-content>
      <ion-card-content *ngIf="obsFormDR.datarequest.request_type === 'number' ">
        <ion-label>Answer:</ion-label>
        <ion-input [(ngModel)]="obsFormDR.datarequest.value" placeholder="{{ obsFormDR.datarequest.placeholder }}" type="{{ obsFormDR.datarequest.request_type }}">
        </ion-input>
      </ion-card-content>
      <ion-card-content *ngIf="obsFormDR.datarequest.request_help">
        <button ion-button outline round small padding class="data-request-help" (click)="helpToggle()">
          <ion-icon name="help-circle" item-end ></ion-icon>&nbsp;&nbsp;Toggle Help With Questions
        </button>
        <div class="italics" *ngIf="showHelp">{{obsFormDR.datarequest.request_help}}</div>
      </ion-card-content>
    </ion-card>


  </ion-col>

</div>

</ion-content>
